// transitions & styling
$browsers: '', '-o-', '-ms-', '-moz-', '-webkit-'
@mixin transitions ($sec)
	@each $browser in $browsers
		#{$browser}transition: all $sec ease
@mixin borderradius ($radius: 50%)
	@each $browser in $browsers
		#{$browser}border-radius: $radius
@mixin squareicon ($size)
	width: $size
	height: $size
	line-height: $size
	text-align: center
@mixin clearfix
	content: ""
	display: block
	clear: both
// set base container
// responsive setting
$responsive: true
@mixin container($container-width: $width)
	// set container width if responsive, else if not
	@if $responsive == true
		max-width: $container-width
	@else
		width: $container-width
	margin: 0px auto

// colors
$black: #000
$white: #fff
$white-min: #fafafa
$grey-light: #dedede
$grey: #888
$grey-dark: #2e2e2e
$orange: #da5f00
$orange-lite: #f9dc85
$navy-lite: #a1decb
$green: #11b622
$blue: #44a0f8
$red: #d62323
$maroon: #db4c3f

$theme-color: $blue
$complementer-color: $green

// default styling
*, *:before, *:after
	box-sizing: border-box
html, body
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
	font-family: roboto, "segoe UI", "open sans", arial, sans-serif
a
	text-decoration: none
	color: inherit
	&:hover, &:active, &:focus, &:visited
		color: inherit
	&.round-button
		@include borderradius(50%)
		display: block
		background-color: $white-min
ul
	list-style: none
	padding-left: 0
ul, li, a, input, input ~ label, button
	@include transitions(.3s)
input[type="radio"], input[type="checkbox"], a
	cursor: pointer
	& ~ label
		cursor: pointer
.hidden
	visibility: hidden
	display: none
.clear
	@include clearfix
.right
	float: right
.container-fluid
	width: 100%
.container
	@include container(1020px)
.button
	@include borderradius(5px)
	text-align: center
	display: block
	// padding: 8px
	border: 1px solid white
	&.theme
		color: $white
		background-color: lighten($theme-color, 10%)
		&:hover
			color: $theme-color
			background-color: lighten($theme-color, 25%)

body
	margin: 0
	header
		position: relative
		.topbar
			background-color: $theme-color
			position: fixed
			width: 100%
			color: $white
			height: 44px
			display: block
			top: 0
			z-index: 0
			@media (min-width: 721px)
				padding-left: 8px
			.logo
				@include squareicon(44px)
				position: absolute
				font-size: 24px
				left: 4px
				display: none
			.nav-menu
				color: $white
				.nav-item
					line-height: 44px
					height: 44px
					padding: 0 8px
					display: inline-block
					font-weight: 500
		ul.popdown
			color: $blue
			display: none
			margin: 0
			padding: 16px
			left: 0
			z-index: 8
			@include transitions(.3s)
			&.show
				display: block
				position: absolute
				top: 44px
				width: 100%
				background-color: lighten($blue, 35%)
				border-bottom: 1px solid $blue
				@include borderradius(3px)
			li
				width: auto
				display: inline-block
				a
					font-size: 12px
					i.material-icons
						display: block
						text-align: center
		.screenout
			display: none
			z-index: 7
			&.show
				top: 0
				bottom: 0
				right: 0
				left: 0
				display: block
				position: fixed