// transitions & styling
$browsers: '', '-o-', '-ms-', '-moz-', '-webkit-'
=transitions ($sec)
	@each $browser in $browsers
		#{$browser}transition: all $sec ease
=borderradius ($radius: 50%)
	@each $browser in $browsers
		#{$browser}border-radius: $radius
=squareicon ($size)
	width: $size
	height: $size
	line-height: $size
	text-align: center
=clearfix
	content: ""
	display: block
	clear: both
// set base container
// responsive setting
$responsive: true
=container($container-width: $width)
	// set container width if responsive, else if not
	@if $responsive == true
		max-width: $container-width
	@else
		width: $container-width
	margin: 0px auto

// colors
$black: #000
$white: #fff
$white-min: #fafafa
$grey-light: #dedede
$grey: #888
$grey-dark: #2e2e2e
$orange: #da5f00
$orange-lite: #f9dc85
$navy-lite: #a1decb
$green: #11b622
$blue: #44a0f8
$red: #d62323
$maroon: #db4c3f

$theme: $blue
$complementer-color: $green

// default styling
*, *:before, *:after
	box-sizing: border-box
html, body
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
	font-family: roboto, "segoe UI", "open sans", arial, sans-serif
a
	text-decoration: none
	color: inherit
	&:hover, &:active, &:focus, &:visited
		color: inherit
	&.round-button
		+borderradius(50%)
		display: block
		background-color: $white-min
ul
	list-style: none
	padding-left: 0
ul, li, a, input, input ~ label, button
	+transitions(.3s)
input[type="radio"], input[type="checkbox"], a
	cursor: pointer
	& ~ label
		cursor: pointer
.hidden
	visibility: hidden
	display: none
.clear
	+clearfix
.right
	float: right
.container-fluid
	width: 100%
.container
	+container(1020px)
.button
	+borderradius(5px)
	text-align: center
	display: block
	// padding: 8px
	border: 1px solid white
	&.theme
		color: $white
		background-color: lighten($theme, 10%)
		&:hover
			color: $theme
			background-color: lighten($theme, 25%)

body
	margin: 0
	background-color: $grey
	header
		position: relative
		.topbar
			background-color: $theme
			position: fixed
			width: 100%
			color: $white
			height: 44px
			display: block
			top: 0
			z-index: 11
			@media (min-width: 721px)
				padding-left: 8px
			.logo
				+squareicon(44px)
				position: absolute
				font-size: 24px
				left: 4px
				display: none
			.nav-menu
				color: $white
				.nav-item
					line-height: 44px
					height: 44px
					padding: 0 8px
					display: inline-block
					font-weight: 500
		ul.popdown
			position: absolute
			top: -300px
			margin: 0
			padding: 8px
			left: 0
			width: 100%
			z-index: 8
			+transitions(.3s)
			&.show
				position: absolute
				top: 44px
				background-color: lighten($theme, 35%)
				border-bottom: 1px solid $theme
				+borderradius(3px)
			li
				width: auto
				display: inline-block
				margin: 8px 0
				a
					color: $theme
					max-width: 90px
					display: inline-block
					vertical-align: top
					padding: 0 8px
					i
						display: block
						text-align: center
						font-family: 'Material Icons'
						font-weight: normal
						font-style: normal
						font-size: 30px
						line-height: 1
						letter-spacing: normal
						text-transform: none
						white-space: nowrap
						word-wrap: normal
						direction: ltr
						-moz-font-feature-settings: 'liga'
						-moz-osx-font-smoothing: grayscale
					small
						text-align: center
						display: block
					&:hover, &:focus, &:active
						color: darken($theme, 10%)

		.screenout
			display: none
			z-index: 7
			&.show
				top: 0
				bottom: 0
				right: 0
				left: 0
				display: block
				position: fixed
	.tab-header
	.tab-content