*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  -webkit-tap-highlight-color: transparent;
  font-family: roboto, "segoe UI", "open sans", arial, sans-serif; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover, a:active, a:focus, a:visited {
    color: inherit; }
  a.round-button {
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
    background-color: #fafafa; }

ul {
  list-style: none;
  padding-left: 0; }

ul, li, a, input, input ~ label, button {
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }

input[type="radio"], input[type="checkbox"], a {
  cursor: pointer; }
  input[type="radio"] ~ label, input[type="checkbox"] ~ label, a ~ label {
    cursor: pointer; }

.hidden {
  visibility: hidden;
  display: none; }

.clear {
  content: "";
  display: block;
  clear: both; }

.right {
  float: right; }

.container-fluid {
  width: 100%; }

.container {
  max-width: 1020px;
  margin: 0px auto; }

.button {
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
  display: block;
  border: 1px solid white; }
  .button.theme {
    color: #fff;
    background-color: #75b9fa; }
    .button.theme:hover {
      color: #44a0f8;
      background-color: #bfdefd; }

body {
  margin: 0;
  background-color: #888; }
  body header {
    position: relative; }
    body header .topbar {
      background-color: #44a0f8;
      position: fixed;
      width: 100%;
      color: #fff;
      height: 44px;
      display: block;
      top: 0;
      z-index: 11; }
      @media (min-width: 721px) {
        body header .topbar {
          padding-left: 8px; } }
      body header .topbar .logo {
        width: 44px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        position: absolute;
        font-size: 24px;
        left: 4px;
        display: none; }
      body header .topbar .nav-menu {
        color: #fff; }
        body header .topbar .nav-menu .nav-item {
          line-height: 44px;
          height: 44px;
          padding: 0 8px;
          display: inline-block;
          font-weight: 500; }
    body header ul.popdown {
      position: absolute;
      top: -300px;
      margin: 0;
      padding: 8px;
      left: 0;
      width: 100%;
      z-index: 8;
      transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease; }
      body header ul.popdown.show {
        position: absolute;
        top: 44px;
        background-color: #f0f7fe;
        border-bottom: 1px solid #44a0f8;
        border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px; }
      body header ul.popdown li {
        width: auto;
        display: inline-block;
        margin: 8px 0; }
        body header ul.popdown li a {
          color: #44a0f8;
          max-width: 90px;
          display: inline-block;
          vertical-align: top;
          padding: 0 8px; }
          body header ul.popdown li a i {
            display: block;
            text-align: center;
            font-family: "Material Icons";
            font-weight: normal;
            font-style: normal;
            font-size: 30px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -moz-font-feature-settings: "liga";
            -moz-osx-font-smoothing: grayscale; }
          body header ul.popdown li a small {
            text-align: center;
            display: block; }
          body header ul.popdown li a:hover, body header ul.popdown li a:focus, body header ul.popdown li a:active {
            color: #1387f6; }
    body header .screenout {
      display: none;
      z-index: 7; }
      body header .screenout.show {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: block;
        position: fixed; }
  body ul.tab-header {
    margin: 0;
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    padding: 0 16px; }
    body ul.tab-header li {
      background-color: #dedede;
      display: inline-block;
      line-height: 32px;
      padding: 0 8px;
      cursor: pointer;
      position: relative;
      transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      border-radius: 3px 2px 0 0;
      -o-border-radius: 3px 2px 0 0;
      -ms-border-radius: 3px 2px 0 0;
      -moz-border-radius: 3px 2px 0 0;
      -webkit-border-radius: 3px 2px 0 0; }
      body ul.tab-header li.selected {
        background-color: #fafafa; }
        body ul.tab-header li.selected::before {
          background-color: #fafafa;
          z-index: 1; }
      body ul.tab-header li::before {
        border-top-right-radius: 3px;
        border-right-style: solid;
        border-right-width: 1px;
        border-top-style: solid;
        border-top-width: 1px;
        border-right-color: transparent;
        border-top-color: transparent;
        content: " ";
        display: block;
        height: 32px;
        position: absolute;
        right: -5px;
        width: 10px;
        z-index: -1;
        -webkit-transform: skewX(18deg);
        -moz-transform: skewX(18deg);
        -ms-transform: skewX(18deg);
        transform: skewX(18deg);
        background-color: #dedede; }
  body .tab-content .tab {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 44px;
    background-color: #fafafa; }
    body .tab-content .tab.show {
      display: block; }

/*# sourceMappingURL=main.css.map */
