.form-default, .tab-content .tab, .tab-sub .tab-sub-content .tab {
  font-size: 16px; }
  .form-default hr, .tab-content .tab hr, .tab-sub .tab-sub-content .tab hr {
    width: 100%;
    border-top: 1px solid #dedede; }
  .form-default fieldset, .tab-content .tab fieldset, .tab-sub .tab-sub-content .tab fieldset {
    width: 100%;
    display: block;
    border: 0;
    padding: 0;
    margin-bottom: 12px; }
  .form-default > label, .tab-content .tab > label, .tab-sub .tab-sub-content .tab > label {
    display: block;
    text-transform: capitalize;
    line-height: 36px; }
  .form-default select, .tab-content .tab select, .tab-sub .tab-sub-content .tab select, .form-default input[type="text"], .tab-content .tab input[type="text"], .tab-sub .tab-sub-content .tab input[type="text"], .form-default input[type="email"], .tab-content .tab input[type="email"], .tab-sub .tab-sub-content .tab input[type="email"], .form-default input[type="number"], .tab-content .tab input[type="number"], .tab-sub .tab-sub-content .tab input[type="number"], .form-default input[type="password"], .tab-content .tab input[type="password"], .tab-sub .tab-sub-content .tab input[type="password"], .form-default input[type="search"], .tab-content .tab input[type="search"], .tab-sub .tab-sub-content .tab input[type="search"], .form-default textarea, .tab-content .tab textarea, .tab-sub .tab-sub-content .tab textarea {
    border: 1px solid #c5c5c5;
    padding: 6px 12px;
    border-radius: 16px;
    -o-border-radius: 16px;
    -ms-border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    display: block;
    width: 100%;
    margin-bottom: 6px; }
    .form-default select:hover, .tab-content .tab select:hover, .tab-sub .tab-sub-content .tab select:hover, .form-default select:active, .tab-content .tab select:active, .tab-sub .tab-sub-content .tab select:active, .form-default select:focus, .tab-content .tab select:focus, .tab-sub .tab-sub-content .tab select:focus, .form-default input[type="text"]:hover, .tab-content .tab input[type="text"]:hover, .tab-sub .tab-sub-content .tab input[type="text"]:hover, .form-default input[type="text"]:active, .tab-content .tab input[type="text"]:active, .tab-sub .tab-sub-content .tab input[type="text"]:active, .form-default input[type="text"]:focus, .tab-content .tab input[type="text"]:focus, .tab-sub .tab-sub-content .tab input[type="text"]:focus, .form-default input[type="email"]:hover, .tab-content .tab input[type="email"]:hover, .tab-sub .tab-sub-content .tab input[type="email"]:hover, .form-default input[type="email"]:active, .tab-content .tab input[type="email"]:active, .tab-sub .tab-sub-content .tab input[type="email"]:active, .form-default input[type="email"]:focus, .tab-content .tab input[type="email"]:focus, .tab-sub .tab-sub-content .tab input[type="email"]:focus, .form-default input[type="number"]:hover, .tab-content .tab input[type="number"]:hover, .tab-sub .tab-sub-content .tab input[type="number"]:hover, .form-default input[type="number"]:active, .tab-content .tab input[type="number"]:active, .tab-sub .tab-sub-content .tab input[type="number"]:active, .form-default input[type="number"]:focus, .tab-content .tab input[type="number"]:focus, .tab-sub .tab-sub-content .tab input[type="number"]:focus, .form-default input[type="password"]:hover, .tab-content .tab input[type="password"]:hover, .tab-sub .tab-sub-content .tab input[type="password"]:hover, .form-default input[type="password"]:active, .tab-content .tab input[type="password"]:active, .tab-sub .tab-sub-content .tab input[type="password"]:active, .form-default input[type="password"]:focus, .tab-content .tab input[type="password"]:focus, .tab-sub .tab-sub-content .tab input[type="password"]:focus, .form-default input[type="search"]:hover, .tab-content .tab input[type="search"]:hover, .tab-sub .tab-sub-content .tab input[type="search"]:hover, .form-default input[type="search"]:active, .tab-content .tab input[type="search"]:active, .tab-sub .tab-sub-content .tab input[type="search"]:active, .form-default input[type="search"]:focus, .tab-content .tab input[type="search"]:focus, .tab-sub .tab-sub-content .tab input[type="search"]:focus, .form-default textarea:hover, .tab-content .tab textarea:hover, .tab-sub .tab-sub-content .tab textarea:hover, .form-default textarea:active, .tab-content .tab textarea:active, .tab-sub .tab-sub-content .tab textarea:active, .form-default textarea:focus, .tab-content .tab textarea:focus, .tab-sub .tab-sub-content .tab textarea:focus {
      border-color: #44a0f8; }
  .form-default textarea, .tab-content .tab textarea, .tab-sub .tab-sub-content .tab textarea {
    resize: none;
    height: 108px;
    border-radius: 16px;
    -o-border-radius: 16px;
    -ms-border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    width: 100%;
    font-family: Roboto, "Segoe UI", "open sans", arial, sans-serif; }
  .form-default select, .tab-content .tab select, .tab-sub .tab-sub-content .tab select, .form-default button, .tab-content .tab button, .tab-sub .tab-sub-content .tab button {
    cursor: pointer; }
  .form-default button, .tab-content .tab button, .tab-sub .tab-sub-content .tab button {
    border-radius: 16px;
    -o-border-radius: 16px;
    -ms-border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    float: right;
    margin-left: 8px;
    color: #fff;
    padding: 4px 16px;
    background-color: #5dacf9; }
    .form-default button i, .tab-content .tab button i, .tab-sub .tab-sub-content .tab button i {
      text-align: center;
      font-family: "Material Icons";
      font-weight: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -moz-font-feature-settings: "liga";
      -moz-osx-font-smoothing: grayscale;
      line-height: 24px;
      float: left;
      margin-right: 4px; }
    .form-default button:hover, .tab-content .tab button:hover, .tab-sub .tab-sub-content .tab button:hover, .form-default button:active, .tab-content .tab button:active, .tab-sub .tab-sub-content .tab button:active, .form-default button:focus, .tab-content .tab button:focus, .tab-sub .tab-sub-content .tab button:focus {
      background-color: #2b94f7; }
    .form-default button.cancel, .tab-content .tab button.cancel, .tab-sub .tab-sub-content .tab button.cancel {
      background-color: #f9ac5d; }
      .form-default button.cancel:hover, .tab-content .tab button.cancel:hover, .tab-sub .tab-sub-content .tab button.cancel:hover {
        background-color: #f7942b; }
  .form-default input[type="submit"], .tab-content .tab input[type="submit"], .tab-sub .tab-sub-content .tab input[type="submit"], .form-default input[type="reset"], .tab-content .tab input[type="reset"], .tab-sub .tab-sub-content .tab input[type="reset"], .form-default button, .tab-content .tab button, .tab-sub .tab-sub-content .tab button {
    display: inline-block;
    border: 0;
    padding: 5px 8px;
    font-size: 16px; }
  .form-default input[type=number]::-webkit-inner-spin-button, .tab-content .tab input[type=number]::-webkit-inner-spin-button, .tab-sub .tab-sub-content .tab input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor: pointer;
    display: block;
    width: 8px;
    color: #333;
    text-align: center;
    position: relative; }
  .form-default input[type=number], .tab-content .tab input[type=number], .tab-sub .tab-sub-content .tab input[type=number] {
    -moz-appearance: textfield; }
  .form-default small, .tab-content .tab small, .tab-sub .tab-sub-content .tab small {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    line-height: 16px;
    margin: -8px 0 8px;
    color: #888; }
  .form-default .button.form, .tab-content .tab .button.form, .tab-sub .tab-sub-content .tab .button.form {
    width: 100%;
    margin: 8px 0; }
  .form-default span.info, .tab-content .tab span.info, .tab-sub .tab-sub-content .tab span.info {
    display: block;
    font-weight: 500;
    line-height: 28px; }
    .form-default span.info:last-child, .tab-content .tab span.info:last-child, .tab-sub .tab-sub-content .tab span.info:last-child {
      margin-bottom: 12px; }

header {
  position: relative; }
  header i {
    text-align: center;
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: "liga";
    -moz-osx-font-smoothing: grayscale;
    display: block;
    font-size: 30px; }
  header .topbar {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
    -o-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
    -ms-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
    background-color: #44a0f8;
    position: fixed;
    width: 100%;
    color: #fff;
    height: 44px;
    display: block;
    top: 0;
    z-index: 11; }
    @media (min-width: 721px) {
      header .topbar {
        padding: 0 16px; } }
    header .topbar .logo {
      width: 120px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      position: absolute;
      font-size: 24px;
      left: 4px;
      display: none; }
    header .topbar .nav-menu {
      color: #fff;
      display: inline-block; }
      header .topbar .nav-menu:last-child {
        float: right; }
      header .topbar .nav-menu .nav-item {
        line-height: 44px;
        height: 44px;
        padding: 0 8px;
        display: inline-block;
        font-weight: 500; }
      header .topbar .nav-menu i {
        display: inline-flex !important;
        vertical-align: middle;
        margin-top: -6px; }
  header ul.popdown {
    position: absolute;
    top: -300px;
    margin: 0;
    padding: 8px;
    left: 0;
    width: 100%;
    z-index: 8;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
    -o-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
    -ms-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06); }
    header ul.popdown.show {
      position: absolute;
      top: 44px;
      background-color: #f0f7fe;
      border-radius: 3px;
      -o-border-radius: 3px;
      -ms-border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
    header ul.popdown li {
      width: auto;
      display: inline-block;
      margin: 8px 0; }
      header ul.popdown li a {
        color: #44a0f8;
        max-width: 90px;
        display: inline-block;
        vertical-align: top;
        padding: 0 8px; }
        header ul.popdown li a small {
          text-align: center;
          display: block; }
        header ul.popdown li a:hover, header ul.popdown li a:focus, header ul.popdown li a:active {
          color: #1387f6; }
  header .screenout {
    display: none;
    z-index: 7; }
    header .screenout.show {
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: block;
      position: fixed; }

.columns {
  display: flex; }
  .columns-4 {
    column-count: 4;
    column-gap: 16px;
    -o-column-count: 4;
    -o-column-gap: 16px;
    -ms-column-count: 4;
    -ms-column-gap: 16px;
    -moz-column-count: 4;
    -moz-column-gap: 16px;
    -webkit-column-count: 4;
    -webkit-column-gap: 16px; }
  .columns-3 {
    column-count: 3;
    column-gap: 16px;
    -o-column-count: 3;
    -o-column-gap: 16px;
    -ms-column-count: 3;
    -ms-column-gap: 16px;
    -moz-column-count: 3;
    -moz-column-gap: 16px;
    -webkit-column-count: 3;
    -webkit-column-gap: 16px; }
  .columns .column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1; }
  .columns-1-3 .column.left {
    width: 25%;
    padding-right: 16px; }
  .columns-1-3 .column.right {
    width: 75%; }
    .columns-1-3 .column.right .tab-sub {
      position: relative; }
      .columns-1-3 .column.right .tab-sub .tab-sub-header {
        position: relative; }

ul.tab-header, .tab-sub .tab-sub-header {
  margin: 0;
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  padding: 0 16px; }
  ul.tab-header li, .tab-sub .tab-sub-header li {
    background-color: #ebebeb;
    display: inline-block;
    line-height: 32px;
    padding: 0 24px 0 8px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    border-radius: 4px 2px 0 0;
    -o-border-radius: 4px 2px 0 0;
    -ms-border-radius: 4px 2px 0 0;
    -moz-border-radius: 4px 2px 0 0;
    -webkit-border-radius: 4px 2px 0 0; }
    ul.tab-header li:hover, .tab-sub .tab-sub-header li:hover, ul.tab-header li:active, .tab-sub .tab-sub-header li:active, ul.tab-header li:focus, .tab-sub .tab-sub-header li:focus {
      background-color: #bfdefd; }
      ul.tab-header li:hover::before, .tab-sub .tab-sub-header li:hover::before, ul.tab-header li:active::before, .tab-sub .tab-sub-header li:active::before, ul.tab-header li:focus::before, .tab-sub .tab-sub-header li:focus::before {
        background-color: #bfdefd;
        z-index: 2; }
    ul.tab-header li.selected, .tab-sub .tab-sub-header li.selected {
      background-color: #fafafa; }
      ul.tab-header li.selected::before, .tab-sub .tab-sub-header li.selected::before {
        background-color: #fafafa;
        z-index: 2; }
    ul.tab-header li::before, .tab-sub .tab-sub-header li::before {
      transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      border-radius: 0 2px 0 0;
      -o-border-radius: 0 2px 0 0;
      -ms-border-radius: 0 2px 0 0;
      -moz-border-radius: 0 2px 0 0;
      -webkit-border-radius: 0 2px 0 0;
      border-right-style: solid;
      border-right-width: 1px;
      border-top-style: solid;
      border-top-width: 1px;
      border-right-color: transparent;
      border-top-color: transparent;
      content: " ";
      display: block;
      height: 32px;
      position: absolute;
      right: -5px;
      width: 10px;
      z-index: 1;
      -webkit-transform: skewX(18deg);
      -moz-transform: skewX(18deg);
      -ms-transform: skewX(18deg);
      transform: skewX(18deg);
      background-color: #ebebeb; }
    ul.tab-header li i, .tab-sub .tab-sub-header li i {
      text-align: center;
      font-family: "Material Icons";
      font-weight: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -moz-font-feature-settings: "liga";
      -moz-osx-font-smoothing: grayscale;
      line-height: 24px;
      height: 24px;
      margin-left: 4px;
      display: inline-block;
      z-index: 3;
      position: absolute;
      top: 4px;
      right: 4px; }

.tab-content, .tab-sub .tab-sub-content {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fafafa;
  padding: 16px;
  overflow-y: auto; }
  .tab-content .tab, .tab-sub .tab-sub-content .tab {
    display: none;
    padding-bottom: 64px; }
    .tab-content .tab.show, .tab-sub .tab-sub-content .tab.show {
      display: block; }

.tab-sub {
  position: relative; }
  .tab-sub .tab-sub-header {
    top: 0;
    border-bottom: 2px solid #75b9fa; }
    .tab-sub .tab-sub-header li.selected {
      background-color: #75b9fa;
      color: #fff; }
      .tab-sub .tab-sub-header li.selected::before {
        background-color: #75b9fa;
        z-index: 1; }
    .tab-sub .tab-sub-header li::before {
      z-index: auto; }
  .tab-sub .tab-sub-content {
    top: 34px;
    overflow-y: visible; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Roboto, "Segoe UI", "open sans", arial, sans-serif !important;
  color: #2e2e2e !important; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover, a:active, a:focus, a:visited {
    color: inherit; }
  a.round-button {
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
    background-color: #fafafa; }

ul {
  list-style: none;
  padding-left: 0; }

ul, li, a, input, input ~ label, button {
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }

input[type="radio"], input[type="checkbox"], a {
  cursor: pointer; }
  input[type="radio"] ~ label, input[type="checkbox"] ~ label, a ~ label {
    cursor: pointer; }

.hidden {
  visibility: hidden;
  display: none; }

.clear {
  content: "";
  display: block;
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.container-fluid {
  width: 100%; }

.container {
  position: relative; }

.button {
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
  display: block;
  border: 1px solid white; }
  .button.theme {
    color: #fff;
    background-color: #75b9fa; }
    .button.theme:hover {
      color: #44a0f8;
      background-color: #bfdefd; }

.fab {
  text-align: right;
  position: fixed;
  bottom: 16px;
  right: 32px; }

body {
  margin: 0;
  background-color: silver !important; }

/*# sourceMappingURL=main.css.map */
